<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<typeAliases>
		<typeAlias alias="Book" type="com.icss.entity.Book" />
		<typeAlias alias="MBook" type="com.icss.dto.MBook" />
		<typeAlias alias="User" type="com.icss.entity.User" />	
		<typeAlias alias="Category" type="com.icss.entity.Category" />
		<typeAlias alias="Order" type="com.icss.entity.Order" />
		<typeAlias alias="OrderInfo" type="com.icss.entity.OrderInfo" />
	</typeAliases>	
	<mappers>
		<mapper resource="com/icss/mapper/bookMapper.xml"/>
		<mapper resource="com/icss/mapper/userMapper.xml"/>
	</mappers>
</configuration>